body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: #ffffff;
}

.header-container {
    background-color: #fff;
    width: 100%;
}

.application-name {
    font-size: 1.5em;
}

#outputText {
    Xbackground-color: #ffffff;
}

textarea {
    Xresize: vertical;
    height: 600px;
    
}

.col-input,.col-output {
    background-color:#ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
}

.col-input {
    border-radius: 15px 0 0 15px;
    border-right: none;
}

.col-output {
    border-radius: 0 15px 15px 0;
}

#inputText:focus,
#outputText:focus {
    box-shadow: none;
    border-color: #ccc;
}

#inputText,
#outputText {
    border:none;
    padding-left:12px;    
    padding-right:12px;    
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logo-app {
    height: 60px;
}


.Xglossar-list, .Xglossar-update {
    background-color:#ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
    border-radius: 15px;
}

.white-rounded-box {
    background-color:#ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
    border-radius: 15px;
}


h1 {
    color: #3670a1;
    font-size:22px;
}

h2 {
    font-size: 18px;
    color: #3670a1;
}

.glossar-list h2,
.glossar-update h2 {
    margin-left: 8px;
    margin-bottom: 11px;
}

.btn-primary {
    --bs-btn-bg: #3670a1;
    --bs-btn-border-color: #3670a1;
    --bs-btn-hover-bg: #437fb1;
    --bs-btn-hover-border-color: #437fb1;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #437fb1;
    --bs-btn-active-border-color: #437fb1;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .application-name {
        margin-top: 10px;
        padding-left: 14px;
        text-align: left; /* Ensure left alignment */
        width: 100%; /* Take full width */        
    }
    
    .row > .col {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .col-input {
        border-radius: 15px 15px 0 0 ;
        border-bottom: none;
    }
    
    .col-output {
        border-radius: 0 0 15px 15px;
    }    
}

